notebook
pandas
matplotlib
seaborn
numpy
scikit-learn
torch
torchvision
transformers
tqdm
chainlit
openai
anthropic
ollama
python-dotenv
pypdf
pillow
llama-index
llama-index-core
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-llms-ollama
llama-index-embeddings-ollama
statsmodels
