notebook
jupyter_contrib_nbextensions
pandas
matplotlib
seaborn
nltk
numpy
scikit-learn
torch
torchvision
transformers
tqdm
chainlit
openai
llama-index
llama-index-core
llama-hub
llama-index-readers-file